<!DOCTYPE html>
<html>
<head>
    <title>Tarlan Huseynov</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/kube.min.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/custom.min.css" />
    <link rel="shortcut icon" href="img/favicon.png" />
	<link href='https://fonts.googleapis.com/css?family=Playfair+Display+SC:700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
	<style>
		.intro h1:before {
			/* Edit this with your name or anything else */
			content: 'TARLAN';
		}
	</style>
</head>
<body>
	<!-- Navigation -->
	<div class="main-nav">
		<div class="container">
			<header class="group top-nav">
				<div class="navigation-toggle" data-tools="navigation-toggle" data-target="#navbar-1">
				    <span class="logo">TARLAN</span>
				</div>
			    <nav id="navbar-1" class="navbar item-nav">
				    <ul>
				        <li class="active"><a href="#about">About</a></li>
				        <li><a href="#experiences">Experiences</a></li>
				      <!-- comment   <li><a href="#achievements">Achievements</a></li> -->
				        <li><a href="#skills">Skills</a></li>
				    </ul>
				</nav>
			</header>
		</div>
	</div>

	<!-- Introduction -->
	<div class="intro section" id="about">
		<div  class="container">
			<p>Hi, I’m Tarlan Huseynov</p>
			<div class="units-row units-split wrap">
				<div class="unit-20">
					<img src="img/ava.jpg" alt="Avatar">
				</div>
				<div class="unit-80">
					<h1>Never stop<br><span id="typed"></span></h1>
				</div>
				<p>
					My immediate objective is to work for the progress of my company and to establish myself in this work world eventually. To succeed in an environment of growth and excellence and earn a job which provides me job Satisfaction and self development and help me achieve personal as well as organization goals. To be an astute learner and the best performer in our organization. So that I can build an innovative career in our esteemed organization by using my skills and other significant talents.
				</p>
			</div>
		</div>
	</div>

	<!-- Work Experience -->
	<div class="work section second" id="experiences">
		<div class="container">
			<h1>Work<br>Experiences</h1>
			<ul class="work-list">
				<li>2014-2015</li>
				<li><a href="#">Logix software and resource planning</a></li>
				<li>Administration and Soft. support</li>
			</ul>
			<ul class="work-list">
				<li>2015-2016</li>
				<li><a href="#">Ateshgah Insurance Company</a></li>
				<li>IT Support & Maintenance</li>
			</ul>
			<ul class="work-list">
				<li>2016-2017</li>
				<li><a href="#">European Union delegation to Azerbaijan</a></li>
				<li>Senior IT Engineer</li>
			</ul>
				<ul class="work-list">
				<li>2017-2020</li>
				<li><a href="#">Ministry of Digital Development and Transport - Smartpay Payment Systems</a></li>
				<li>Devops Engineer</li>
			</ul>
			</ul>
				<ul class="work-list">
				<li>2020-2021</li>
				<li><a href="#">Ministry of Digital Development and Transport - AZINTELECOM DC Cloud</a></li>
				<li>Head of SRE Delivery Unit</li>
			</ul>
			</ul>
				<ul class="work-list">
				<li>2021-present</li>
				<li><a href="#">CamlinGroup UK</a></li>
				<li>Senior DevOps Engineer</li>
			</ul>
			</ul>
				<ul class="work-list">
				<li>2021-present</li>
				<li><a href="#">Allwhere CO USA</a></li>
				<li>DevOps Team Lead</li>
			</ul>
		</div>
	</div>

	<!-- Award & Achievements 
	<div class="award section second" id="achievements">
		<div class="container">
			<h1>Award &amp;<br>Achievements</h1>
			<ul class="award-list list-flat">
				<li>January 2014</li>
				<li>Attained PHP5 certification</li>
				<li>Hold world/Olympic record</li>
			</ul>
			<ul class="award-list list-flat">
				<li>December 2014</li>
				<li>Audited X number of clients in only Y amount of time</li>
				<li>Held a perfect attendance record</li>
				<li>Were promoted after only X months in the role</li>
			</ul>
			<ul class="award-list list-flat">
				<li>March 2014</li>
				<li>Placed employees at X companies</li>
				<li>United multiple teams post-merger</li>
			</ul>
		</div>
	</div> -->

	<!-- Technical Skills -->
	<div class="skills section second" id="skills">
		<div class="container">
			<h1>Technical<br>Skills &<br>Certifications</h1>
		<!-- Badges -->
		<div style="display: flex;">
			  <div style="padding: 1px; background-color: #BCC6CC; display: inline-block; width: 150px; margin-right: 10px;" data-iframe-width="150" data-iframe-height="270" data-share-badge-id="b551df05-eb7a-454f-99e0-79b45c1e7729" data-share-badge-host="https://www.credly.com"></div>
			    <script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
			      <div style="padding: 1px; background-color: #BCC6CC; display: inline-block; width: 150px;" data-iframe-width="150" data-iframe-height="270" data-share-badge-id="461ded43-84bb-4a93-bb5e-6f07124be62a" data-share-badge-host="https://www.credly.com"></div>
			        <script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
		</div>
			<ul class="skill-list list-flat">
				<li>DevOps Stack</li>
				<li>Orchesration: Kubernetes / Docker-Swarm</li>
				<li>CI/CD: Gitlab-CI / Jenkins / Teamcity / Octopus Deploy</li>
				<li>Monitoring: Centreon / Zabbix / Grafana / Prometheus / Sentry / Logicmonitor</li>
				<li>Log Management : Elasticsearch / Logstash / Kibana / Fluentd</li>				
			</ul>
			<ul class="skill-list list-flat">
				<li>Cloud Technologies</li>
				<li>Terraform / AWS Services / GCP</li>
			</ul>
			<ul class="skill-list list-flat">
				<li>Database & Data Persistency management</li>
				<li>MySQL / pgSQL / MongoDB / Redis / NFS / MinIO / ceph</li>
			</ul>
			<ul class="skill-list list-flat">
				<li>Coding & Scripting</li>
				<li>Golang / Python / Bash scripting / Lambda<li>
			</ul>
				<ul class="skill-list list-flat">
				<li>Essentials</li>
				<li>Ansible / Docker / VMware / Vagrant / Hashi corp Vault / AWS services / Nginx / Traefik</li>
			</ul>
		</div>
	</div>

	<!-- Quote -->
	<div class="quote">
		<div class="container text-centered">
			<h1>fight against the ugliness.</h1>
		</div>
	</div>

	<footer>
		<div class="container">
			<div class="units-row">
			    <div class="unit-50">
			    	<p>Do your best to make this world a better place</p>
			    </div>
			    <div class="unit-50">
					<ul class="social list-flat right">
						<li><a href="mailto:tarlan@huseynov.net"><i class="fa fa-send"></i></a></li>
						<li><a href="http://github.com/WarDove"><i class="fa fa-github"></i></a></li>
						<li><a href="http://twitter.com/tnhuseynov"><i class="fa fa-twitter"></i></a></li>
						<li><a href="http://www.linkedin.com/in/tarlanhuseynov/"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="http://www.facebook.com/WarDove.SHD"><i class="fa fa-facebook"></i></a></li>						
					</ul>
			    </div>
			</div>
		</div>
	</footer>

	<!-- Javascript -->
	<script src="js/jquery.min.js"></script>
	<script src="js/typed.min.js"></script>
    <script src="js/kube.min.js"></script>
    <script src="js/site.js"></script>
    <script>
		function newTyped(){}$(function(){$("#typed").typed({
		// Change to edit type effect
		strings: ["Learning", "Dreaming", "Trying"],

		typeSpeed:90,backDelay:700,contentType:"html",loop:!0,resetCallback:function(){newTyped()}}),$(".reset").click(function(){$("#typed").typed("reset")})});
    </script>
</body>
</html>
